<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <script src="./js/home/login.js" defer></script>
    </head>
    <body>
        <div id="login-form">
            <h1>로그인</h1>
                <input id="id" type="text" placeholder="ID">
                <input id="pw" type="password" placeholder="PassWord">
                <button id="login-button">LOGIN</button>
            <a href="signIn.html" target="_blank">회원가입</a>
        </div>
    </body>
</html>