<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Class Registration</title>
        <link rel="stylesheet" href="/css/home/registration.css">
    </head>
    <body>
        <h1>수강신청</h1>
        <form action="" method="get">
            <input type="text" placeholder="교과목명">
            <button>추가</button>
            <button>삭제</button>
        </form>
        <h2>신청한 교과목</h2>
        <table>
            <tr>
                <th scope="col" id="class-number">과목번호</th>
                <th scope="col" id="class-name">교과목명</th>
                <th scope="col" id="class-section">이수구분</th>
                <th scope="col" id="class-grade">학점</th>
                <th scope="col" id="class-professor">담당교수</th>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>컴퓨터네트워크</td>
                <td>전공필수</td>
                <td>3</td>
                <td>김정민</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>운영체제</td>
                <td>전공필수</td>
                <td>3</td>
                <td>허성우</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>데이터베이스</td>
                <td>전공필수</td>
                <td>3</td>
                <td>박경환</td>
            </tr>
        </table>
        <h2>신청 가능한 교과목</h2>
        <table>
            <tr>
                <th scope="col" id="class-number">과목번호</th>
                <th scope="col" id="class-name">교과목명</th>
                <th scope="col" id="class-section">이수구분</th>
                <th scope="col" id="class-grade">학점</th>
                <th scope="col" id="class-professor">담당교수</th>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>컴퓨터네트워크</td>
                <td>전공필수</td>
                <td>3</td>
                <td>김정민</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>운영체제</td>
                <td>전공필수</td>
                <td>3</td>
                <td>허성우</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>데이터베이스</td>
                <td>전공필수</td>
                <td>3</td>
                <td>박경환</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>프로그래밍언어론</td>
                <td>전공필수</td>
                <td>3</td>
                <td>조장우</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>수치해석</td>
                <td>기초과학 및 수학</td>
                <td>3</td>
                <td>박영진</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>프로그래밍설계(창업친화형)</td>
                <td>전공선택</td>
                <td>2</td>
                <td>권기항</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>소프트웨어설계및실습Ⅰ</td>
                <td>전공선택</td>
                <td>3</td>
                <td>오은경</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>교과목명</td>
                <td>이수구분</td>
                <td>학점</td>
                <td>담당교수</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>교과목명</td>
                <td>이수구분</td>
                <td>학점</td>
                <td>담당교수</td>
            </tr>
            <tr>
                <td>과목번호</td>
                <td>교과목명</td>
                <td>이수구분</td>
                <td>학점</td>
                <td>담당교수</td>
            </tr>
        </table>
    </body>
</html>