<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link href="../css/login.css" rel="stylesheet">
    </head>
    <body>
        <div id="login-form">
            <h1>로그인</h1>
            <form method="get" action="registration.html">
                <input id="id" type="text" placeholder="ID">
                <input id="pw" type="password" placeholder="PassWord">
                <input id="login-button" type="submit" value="LOGIN">
            </form>
            <a href="signIn.html" target="_blank">회원가입</a>
        </div>
    </body>
</html>